%meta{:content => "Guitarly.co helps guitar players all around the world to find awesome resources to become better musicians.", :name => "description"}/
%meta{:content => "Guitar, Music, Lessons, Blog", :name => "keywords"}/
