%meta{:content => "summary_large_image", :name => "twitter:card"}/
%meta{:content => "@guitarlyco", :name => "twitter:site"}/
%meta{:content => "@guitarlyco", :name => "twitter:creator"}/
%meta{:content => "Guitarly.co", :name => "twitter:title"}/
%meta{:content => "The main goal of Guitarly.co is to help guitar players all around the world to find awesome resources to become better musicians."}/
%meta{:content => "http://guitarly.co/assets/twitter_card/logo.png", :name => "twitter:image:src"}/
