.pagination {
  display: block;
  max-width: 768px;
  margin: 0px auto 60px auto;
  padding: 0px;
}

.pagination > li > a {
  color: $fountain_blue;
  &:hover, &:active, &:focus {
    color: $fountain_blue;
  }
}

.pagination > .active > span {
  background: $fountain_blue;
  border-color: $fountain_blue;
}
