%footer.footer
  %ul.footer-list
    %li.footer-item
      %p.footer-item__copyright &copy;Copyright 2016 - Guitarly.co
    %li.footer-item
      %a.footer-item__link{:href => 'https://www.instagram.com/guitarlyco', :target => '_blank'}
        %i.footer-item__icon.fa.fa-instagram{'aria-hidden' => 'true'}
    %li.footer-item
      %a.footer-item__link{:href => 'https://twitter.com/guitarlyco', :target => '_blank'}
        %i.footer-item__icon.fa.fa-twitter{'aria-hidden' => 'true'}
