%header.header
  %nav.header-navigation
    %ul.header-navigation__list
      %li.header-navigation__item
        %a.header-navigation__item-link{:href => "#{articles_path}"} Home
      %li.header-navigation__item
        %a.header-navigation__item-link{:href => '#'} About
