%header.header
  %nav.header-navigation
    %ul.header-navigation__list
      %li.header-navigation__item
        = link_to 'Home', { controller: 'articles', action: 'index' }, { class: 'header-navigation__item-link' }
      %li.header-navigation__item
        = link_to 'About', { controller: 'static_pages', action: 'about' }, { class: 'header-navigation__item-link' }
